<div
    class="p-6 text-center bg-image"
    style="
      background-image: url('https://images.unsplash.com/photo-1518611012118-696072aa579a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGZpdG5lc3N8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
       background-repeat: no-repeat;
  background-size: contain,cover;

      height: 1500px;
      width: : 1500px;
    " >
<br><br><br><br><br><center><h1>Welcome to Fitness Club Management System</h1></center></br>
 <center><%= link_to "Log Out ", controller: "sessions", action: 'destroy' %>

<br><br><%= link_to 'Add Package', new_gym_path %></center>
</div>